@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,127.2,1000&display=swap");

$background: #0b1519;
$background-header: #0b15197e;

$primary-color: #04bd7d;
$primary-color-hover: #0cffab;

$font-light: #fff;
$font-primary-color: #04bd7d;
$font-stack: "Roboto Flex", sans-serif;
$font-variant:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$box-shadow-green:1px 3px 11px -5px rgba(102, 231, 200, 0.69);

* {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
