@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,127.2,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* Variables */
:root {
  /* Color pallete*/
  --background: #0b1519;
  --background-header: #0b15197e;
  --primary-color: #04bd7d;
  --primary-color-hover: #0cffab;
  --text-color: rgb(255, 255, 255);
  --link-color: #11c4b5;
  --sm: 14px;
  --md: 16px;
  --Text-input-field: #f2f2f2;
  --White: #ffffff;
  --error-color: rgb(165, 26, 26);
  --filter-green: invert(82%) sepia(45%) saturate(2338%) hue-rotate(94deg)
    brightness(110%) contrast(100%);

  /* text Styles */
  --main-font: "Oswald", sans-serif;
  --text-font: "Montserrat", sans-serif;
  --main-title: 6.4rem;
  --subtitle: 4rem;
  --text-content: 1.8rem;
  --text-gradient: linear-gradient(
    90deg,
    rgba(65, 72, 255, 0.5) 0.96%,
    #0cffab 54.77%,
    #8000ff 102.59%
  );
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  /*Con este font-size, hacemos que 1rem sea igual  a 10px */
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: var(--text-content);
  font-family: var(--text-font);
  line-height: normal;
  color: var(--text-color);
  overflow-x: hidden;
}
main {
  padding-top: 70px;
}

h1 {
  font-size: var(--main-title);
}
h2 {
  font-size: var(--subtitle);
}
a {
  text-decoration: none;
  color: var(--primary-color-hover);
}
p {
  font-family: var(--text-font);
}
/* scrollbar  */
body::-webkit-scrollbar {
  width: 9px;
}
body::-webkit-scrollbar-thumb {
  background-color: #04bd7d;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #0cffab;
}

/* seccion stepper */
span.css-1hv8oq8-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 3rem;
}
svg.css-i4bv87-MuiSvgIcon-root {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  /* scrollbar  */
  body::-webkit-scrollbar {
    display: none;
  }

  body::-webkit-scrollbar-thumb {
    display: none;
  }

  body::-webkit-scrollbar-thumb:hover {
    display: none;
  }

  /* Seccion Stepper */
  span.css-1hv8oq8-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    color: white;
    font-size: 1rem;
  }
}
