.welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  height: 83dvh;
}
.welcome__title {
  font-size: 2.9rem;
  margin-bottom: 50px;
  font-weight: 600;
}
.welcome__title > span {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__rutas {
  gap: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.caja__preferencias {
  display: flex;
  height: 50dvh;
  padding: 2rem;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid var(--primary-color-hover);
  border-radius: 16px;
  width: 48%;
  align-self: center;
  background: black;
  gap: 3rem;
  flex-direction: column;
  min-width: 30rem;
}

.checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.check__btn {
  padding: 1rem;
  border-radius: 13px;
  background: black;
  border: 2px solid;
  font-weight: 600;
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.check__btn:hover {
  background: var(--text-gradient);
  border: 2px solid var(--primary-color-hover);
  color: black;
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}
.check__btn:has(> .checkbox:checked) {
  background: rgba(80, 229, 255, 0.432);
  color: black;
  border: 4px solid var(--primary-color-hover);
  transform: scale(0.9);
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

.check__btn:active {
  border: 2px solid var(--primary-color-hover);
  background: var(--text-gradient);
}
.form__paths {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container__paths {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 18dvh;
  justify-items: stretch;
  align-content: space-evenly;
  row-gap: 2px;
  column-gap: 7px;
  text-align: center;
  width: 51%;
  align-self: start;
}

.containner__selection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  height: 30dvh;
  background: black;
  padding: 2rem;
  border-radius: 17px;
  border: 1px solid var(--primary-color-hover);
}

.containner__selection ul li {
  list-style: disc;
  line-height: 1.9;
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.enviar {
  margin-top: 2rem;

  padding: 1.2rem 1rem;
  border-radius: 16px;
  border: 4px solid var(--primary-color-hover);
  background: black;
  font-weight: 800;
  font-size: 1.6rem;
  width: 60%;
  align-self: center;
  color: white;
}
