.MuiPaper-root .MuiPaper-elevation .MuiPaper-rounded .MuiPaper-elevation1 .MuiAccordion-root .MuiAccordion-rounded .MuiAccordion-gutters .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    padding: 15px 30px;
    border-width: 4px;
    border-radius: 16px;
    background-color: #ffffff00;
    border-color: #0cffab;
}
