

.faq-container{
padding:5px 80px;

}

.title-faq{
    padding:15px 80px;
    font-size: 45px;
    font-family: var(--main-font);
}

.ask-faq {
color: #fff; 
font-size: 23px;
font-weight: bold;
font-family: var(--main-font);
}

.text-faq {
color: #fff; 
font-size:18px;
text-align: justify;
font-family: var(--text-font);
}




@media screen and (max-width: 939px) {

    .title-faq{
        padding:15px 22px;
    }

    .faq-container{
        padding:5px 20px;
        }

        .text-faq {
            font-size: 16px;
        }
}


@media screen and (max-width: 768px) {

    .ask-faq {
        font-size: 20px;
        }
        
        .text-faq {
            font-size: 15px;
        }
}