.faq-container {
  padding: 11px 80px;
}

.title-faq {
  padding: 15px 80px;
  font-size: var(--subtitle);
  font-family: var(--main-font);
}

.ask-faq {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--main-font);
}

.text-faq {
  color: #fff;
  font-size: 19px;
  font-weight: 500;
}

@media screen and (max-width: 939px) {
  .title-faq {
    padding: 5px 20px;
  }

  .faq-container {
    padding: 5px 20px;
  }

  .text-faq {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .ask-faq {
    font-size: 1.5rem;
    font-family: var(--main-font);
    font-weight: 600;
  }

  .text-faq {
    font-size: 1.5rem;
  }
}
