.page__container {
  display: flex;
  overflow-x: hidden;
}

.header__side {
  display: flex;
  flex-direction: column;
  background: black;
  width: 32%;
  align-items: center;
  justify-content: space-around;
  height: auto;
}

.container__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 23px;
  justify-content: center;
}

.user__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  border-radius: 50%;
  border: 3px solid var(--primary-color-hover);
  -webkit-animation: heartbeat 4s ease-in infinite both;
  animation: heartbeat 4s ease-in infinite both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.container__inner {
  inset: inherit;
  width: 100%;
  height: 70dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 30rem;
}
.tecnologias {
  overflow-y: scroll;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.tecnologias::-webkit-scrollbar {
  width: 4px;
}
.tecnologias::-webkit-scrollbar-thumb {
  background-color: #04bd7d;
  border-radius: 20px;
}

.box__toggle {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 2px solid var(--primary-color-hover);
  width: 95%;
  text-align: center;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  display: flex;
  padding: 1rem 2rem;
  gap: 1rem;
}
.checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.techs {
  display: none;
  padding: 0 2rem;
}
.techs li {
  padding: 0.6rem 1.3rem;
  background: var(--text-gradient);
  border: 2px solid #24ff9a;
  border-radius: 13px;
  margin-bottom: 15px;
}
.techs li a {
  color: black;
  font-weight: bold;
}

.techs::-webkit-scrollbar {
  width: 4px;
}
.techs::-webkit-scrollbar-thumb {
  background-color: #04bd7d;
  border-radius: 20px;
}
/* label:has(> .checkbox:checked) > .techs {
  overflow-y: scroll;
  display: block;
} */
/* .box__toggle:has(> .checkbox:checked) {
  height: 25vh;
} */

.line__container span {
  margin-bottom: 4px;
}

.line__container {
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.container__cruz {
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: 19%;
  position: relative;
}
.line {
  display: block;
  background: white;
  height: 1.9px;
  width: 20px;
  border-radius: 8px;
  transition: 0.25s ease-in-out;
}

.line:first-child {
  transform: rotate(90deg);
  position: relative;
  top: 10px;
}
label:has(> .checkbox:checked)
  > .line__container
  > .container__cruz
  > .line:first-child {
  transform: rotate(0deg);
}
.panel-boton {
  display: none;
}
@media screen and (max-width: 770px) {
  .panel-boton {
    display: block;
    width: 27%;
    max-width: 103px;
    z-index: 51;
  }
  .hamburger-box {
    filter: var(--filter-green);
  }
  /* .container__inner {
    display: none;
  } */
  .page__container {
    flex-direction: column;
    overflow-x: hidden;
  }
  .header__side {
    width: 100%;
    height: 14dvh;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }
  .header__user {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    width: 10rem;
    flex-direction: column;
  }
  .user__img {
    width: 56%;
  }
  .header__user span {
    font-size: 1rem;
    display: none;
  }
  .container__inner {
    overflow: hidden;
    background: black;
    z-index: 4;
    position: absolute;
    top: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;
    transform: translate(100%, 0);
    height: 144dvh;
  }
  .container__inner.is-active {
    transition: transform 0.3s ease;

    transform: translate(0, 0);
    padding-top: 121px;
    justify-content: flex-start;
  }

  .line__container span {
    margin-bottom: 4px;
    align-self: stretch;
  }
}
