<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Rivas | Software engineer & Developer</title>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <link rel="icon" type="image/png" href="img/icon.png">

</head>

<body>



    <header>
        <a href="#" class="brand">Diego Rivas</a>

        <div class="menu-btn"><img src="img/menu.png" alt=""></div>

        <div class="navegation">
            <div class="navegation-items">
                <a href="#Home">Home</a>
                <a href="#About">About me</a>
                <a href="#Portfolio">Portfolio</a>
                <a href="#Contact">Contact</a>

            </div>
        </div>
    </header>



    <section id="Home" class="hero">

        <video class="video-slide active" src="video/1.mp4" autoplay muted loop></video>
        <video class="video-slide" src="video/2.mp4" autoplay muted loop></video>
        <video class="video-slide" src="video/3.mp4" autoplay muted loop></video>
        <video class="video-slide" src="video/4.mp4" autoplay muted loop></video>
        <video class="video-slide" src="video/5.mp4" autoplay muted loop></video>



        <div class="content active">
            <h1>i'm<br><span>Diego Rivas.</span></h1>
            <p>Creating Out of the box ideas and value for your business.
            </p>

            <div class="CV-Hero">
                <a href="cv/cv diego rivas.pdf"><button class="download-cv">
                        Download CV
                    </button></a>
            </div>
        </div>


        <div class="content">
            <h1><span>development</span>&<br><span>programming.</span></h1>
            <p>Art challenges technology and technology inspires art.</p>

            <div class="CV-Hero">
                <a href="cv/cv diego rivas.pdf"><button class="download-cv">
                        Download CV
                    </button></a>
            </div>
        </div>


        <div class="content">
            <h1><span>Electronics.</span></h1>
            <h1></h1>
            <p>The discipline that will take the well-being of your electronic equipment to the next level.</p>


            <div class="CV-Hero">
                <a href="cv/cv diego rivas.pdf"><button class="download-cv">
                        Download CV
                    </button></a>
            </div>
        </div>


        <div class="content">
            <h1><span>industrial processes.</span></h1>
            <p>creating the automation processes you need to grow your business.</p>

            <div class="CV-Hero">
                <a href="cv/cv diego rivas.pdf"><button class="download-cv">
                        Download CV
                    </button></a>
            </div>
        </div>


        <div class="content">
            <h1><span>Network <br></span>traffic control.</h1>
            <p>Improve your data security and increase your company's productivity.</p>

            <div class="CV-Hero">
                <a href="cv/cv diego rivas.pdf"><button class="download-cv">
                        Download CV
                    </button></a>
            </div>
        </div>



        <div class="slider-navegation">
            <div class="nav-btn active"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>

        </div>



    </section>



    <iframe id="About" class="about_iframe" src="about.html" frameborder="0"></iframe>

    <iframe id="Portfolio" class="portafolio_iframe" src="portafolio.html" frameborder="0"></iframe>

    <iframe id="Contact" class="contact_iframe" src="contact.html" frameborder="0"></iframe>

    <iframe class="footer_iframe" src="footer.html" frameborder="0"></iframe>









</body>



<script src="js/javascript.js"></script>