.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.605);
  overflow-x: hidden;
  height: 17vh;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.link {
  color: var(--text-color);
}

.text-container-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
}
.text-container-footer h2{
font-size: var(--text-content);
}

.text-container-footer p{
  font-size: 1rem;
  }
@media only screen and (max-width: 768px) {
  .container {
      flex-direction: column; 
      height: auto; 
  }

  .text-container-footer{
    flex-direction: column; 
    height: auto; 
}
  

  .link-container {
      flex-direction: column; 
      gap: 10px;
  }
}
