.team {
  display: flex;
  justify-content: center;
  height: 45dvh;
}

.team__card {
  display: flex;
  align-items: center;
  width: 80%;
  height: 29dvh;
  align-self: center;
  background: black;
  padding: 3rem 4rem;
  border-radius: 15px;
  justify-content: center;
  gap: 2rem;
  max-width: 1203px;
}

.title__gradient {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.team__title {
  font-size: 2.4rem;
}
.text__content {
  text-align: justify;
  width: 61%;
  min-width: 29rem;
}

@media screen and (max-width: 768px) {
  .team__card {
    padding: 4rem 1rem;
    gap: 4rem;
    flex-direction: column;
    height: auto;
    width: 93%;
  }
  .team__title {
    font-size: 2.1rem;
    text-align: center;
  }
  .text__content {
    width: 95%;
    min-width: unset;
    font-size: 1.7rem;
  }
}
