@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,127.2,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.dashboard-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 22px;
  background: #000000;
  border: 2px solid var(--primary-color-hover);
  border-radius: 25px;
  align-items: center;
  max-width: 332px;
  height: 24dvh;
}
.dashboard-card:hover {
  background: var(--text-gradient);
}
.dashboard-card:hover > .dashboard-card-container > .text__content {
  color: black;
}
.dashboard-card:hover > .dashboard-card-container > .dashboard-card-title {
  color: black;
}
.container__parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
  gap: 5rem;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
.dashboard-card-title {
  text-align: center;
  color: #fff;
  font-size: 3.2rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.text__content {
  text-align: left;
  width: 100%;
}

.dashboard-card p {
  color: #fff;
  font-size: 1.5rem;
  font-family: var(--text-font);
}

/* } delete  */

@media screen and (max-width: 939px) {
  .dashboard-card {
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: 100%;
  }

  .dashboard-card h1 {
    font-size: 45px;
    letter-spacing: 2px;
  }
}
