.topMenu a {
  display: block;
  padding: 0.3125rem 0.25rem;
}

.form-container {
  width: 100%;
  height: 112dvh;
  padding: 50px 10vw 40px 10vw;
}

.error-camp {
  margin-top: 4rem;
  background-color: var(--error-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.contact-title {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-title p {
  font-size: 20px;
  font-weight: bold;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__input--container {
  margin-bottom: 10px;
}

.info-container input,
.info-container textarea {
  width: calc(100% - 20px);
  outline: none;
  border: none;
  color: var(--text-color);
  background-color: var(--background);
  margin: 10px auto;
  padding-bottom: 5px;
  font-size: 1.7rem;
}

.info-container input {
  border-bottom: 3px solid var(--text-color);
}

.info-container textarea {
  height: 80px;
  border: 3px solid var(--text-color);
  border-radius: 8px;
  display: block;
  margin-top: 5px;
}

.contact-button {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-button button {
  color: var(--text-color);
  background-color: #000000;
  width: 100%;
  height: 50px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid var(--primary-color-hover);
}

textarea {
  resize: none;
}

.contact-button button:hover {
  color: black;
  background: var(--text-gradient);
  transition: 0.3s ease-in-out;
  border: 2px solid black;
}

@media screen and (max-width: 768px) {
  .contact-title h2 {
    font-size: 2.7rem;
    text-align: center;
    margin-bottom: 9px;
  }
  .contact-title p {
    font-size: 1.8rem;
  }
  .info-container input,
  .info-container textarea {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
  }
  .form-container {
    height: auto;
  }
}
