.card {
  display: flex;
  width: 189px;
  height: 261px;
  min-width: 189px;
  margin: 3rem;
  margin: 3rem;

  align-items: center;
  background-color: black;
  overflow: hidden;
}
.card__content {
  display: flex;
  transform: translateY(33px);
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 0.5rem;
  transition: 0.6s ease;
}
.card:hover {
  filter: drop-shadow(-1px 1px 5px var(--primary-color-hover));
  transition: 0.2s ease-in;
}
.card:hover .card__content {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
}
.card:hover .card__social {
  opacity: 1;
  transition: opacity 2.1s ease-in-out;
}
.card__image {
  width: 100%;
  max-width: 98px;
  border-radius: 50%;
}
.card__image:hover {
  transform: scale(1.1);
}
.card__title {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 8px;
}
.card__description {
  font-size: 1.3rem;
}

.card__social {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.link__icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__icon {
  fill: white;
  font-size: 2.6rem;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
  padding: 0 0 10rem 0;
  height: auto;
}
.card__container {
  width: 70%;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .card__container {
    width: 76%;
    align-self: center;
    display: flex;
    flex-direction: column;
  }
  .cards {
    height: 65dvh;
  }
}
