.main__dashboard {
  padding-top: 70px;
  height: 100dvh;
  overflow: auto;
  width: 100%;
}
.main__dashboard::-webkit-scrollbar {
  width: 9px;
  display: none;
}
.main__dashboard::-webkit-scrollbar-thumb {
  background-color: #04bd7d;
  border-radius: 20px;
}

.main__dashboard::-webkit-scrollbar-thumb:hover {
  background-color: #0cffab;
}

@media screen and (max-width: 768px) {
  .main__dashboard {
    padding-top: 70px;
    height: auto;
    overflow: auto;
    width: 100%;
  }
}
