@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,127.2,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.card-opasity {
  z-index: 11;
  content: "";
  position: absolute;
  background: #1616168a;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(6px);
}
.hidden {
  display: none;
}
.User-card-border {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}

.User-card {
  padding: 20px;
  background-color: #00141080;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(13px);
  border: 2px solid rgba(0, 255, 213, 0.633);
}

.User-up {
  padding: 16px 0px;
  background-color: #000000;
  border-radius: 25px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.User-card img {
  width: 150px;
  padding: 8px;
  object-fit: cover;
  border-radius: 100px;
  aspect-ratio: 1/1;
}

.User-card-saludo {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: bolder;
  padding: 15px 0 45px 0;
}

.User-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.User-card-botton-menu .User-botton {
  width: 100%;
  padding: 12px 10px;
  font-weight: 700;
  font-size: 14px;
  font-family: var(--main-font);
  border-color: var(--primary-color-hover);
  border-width: 4px;
  border-radius: 50px 15px 15px 50px;
  backdrop-filter: blur(14px);
  background-color: rgba(0, 0, 0, 0.24);
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  color: #fff;
}

.User-card-botton-close .User-botton {
  width: 100%;
  padding: 12px 10px;
  font-weight: 700;
  font-size: 14px;
  font-family: var(--main-font);
  border-color: var(--primary-color-hover);
  border-width: 4px;
  border-radius: 15px 50px 50px 15px;
  backdrop-filter: blur(14px);
  background-color: rgba(0, 0, 0, 0.24);
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  color: #fff;
}

.User-card-botton-menu .User-botton:hover {
  background-color: #ffffff00;
  border-color: #0cffab;
  box-shadow: 3px 6px 16px -5px #0cffab;
  transition: ease-in 0.2s;
}

.User-card-botton-close .User-botton:hover {
  background-color: #ffffff00;
  border-color: #0cffab;
  box-shadow: 3px 6px 16px -5px #0cffab;
  transition: ease-in 0.2s;
}

.text__content {
  font-family: var(--text-font);
  justify-content: right;
  display: flex;
}
.email {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text__content span {
  font-weight: 600;
}

.Buttons-secction {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 8px;
  flex-wrap: wrap;
}

@media screen and (max-width: 769px) {
  .User-card-border {
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 57px;
  }

  .User-card {
    width: 400px;
    padding: 10px;

    border-radius: 25px;
  }

  .User-card-container .User-botton {
    width: 100%;
    padding: 12px 14px;
    font-weight: 700;
    font-size: 12px;
    border-width: 3px;
  }

  .text__content {
    font-size: 17px;
    justify-content: center;
    display: flex;
    padding: 0;
  }
}
